@import "reset";

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 88px auto;
  height: 100vh;
  width: 100vw;

  &__header {
    grid-column: 1 / 9;
    background-color: #787885;
    border-radius: 10px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 9;
    grid-row: 2 / 4;
    grid-gap: 24px;
    margin: 24px;
    grid-template-areas:
                        "aside1 aside1 aside2 aside2 aside3 aside3 aside5 aside5"
                        "aside1 aside1 aside2 aside2 aside4 aside4 aside5 aside5";
      &__aside1 {
        grid-area: aside1;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.24), 0 0 32px rgba(0, 0, 0, 0.12);
      }

      &__aside2 {
        grid-area: aside2;
        background-color: #F0F0F1;
      }

      &__aside3 {
        grid-area: aside3;
        background-color: #E1E1E3;
      }

      &__aside4 {
        grid-area: aside4;
        background-color: #D8E6FF;
      }

      &__aside5 {
        grid-area: aside5;
        background-color: #F0F0F1;
      }

      &__aside6 {
        grid-area: aside6;
        display: none;
        background-color: #F0F0F1;
      }
      &__aside7 {
        grid-area: aside7;
        display: none;
        background-color: #F0F0F1;
      }
      &__aside8 {
        grid-area: aside8;
        display: none;
        background-color: #C4DAFF;
      }
      &__aside9 {
        grid-area: aside9;
        display: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.24), 0 0 32px rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
      }
  }
  &__wrapper div {
    border-radius: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){
    .grid {
      &__wrapper {
        grid-template-rows:2fr 2fr 1fr;
        margin: 14px;
        grid-gap: 14px;
        grid-template-areas:
                        "aside1 aside1 aside3 aside3 aside5 aside5 aside7 aside7"
                        "aside2 aside2 aside4 aside4 aside6 aside6 aside8 aside8"
                        "aside9 aside9 aside9 aside9 aside9 aside9 aside9 aside9";
        &__aside6 {
          display: block;
        }
        &__aside7 {
          display: block;
        }
        &__aside8 {
          display: block;
        }
        &__aside9 {
          display: block;
        }
      }
    }
}

@media (max-width: 767px) {
    .grid {
      &__wrapper {
        grid-template-rows: 5fr 5fr 4fr 2fr;
        margin: 16px;
        grid-gap: 16px;
        grid-template-areas:
                        "aside1 aside1 aside1 aside2 aside2 aside3 aside3 aside3"
                        "aside4 aside4 aside4 aside4 aside4 aside4 aside4 aside4"
                        "aside5 aside5 aside6 aside6 aside7 aside7 aside8 aside8"
                        "aside9 aside9 aside9 aside9 aside9 aside9 aside9 aside9";
        &__aside1 {
          background-color: #F0F0F1;
        }
        &__aside6 {
          display: block;
        }
        &__aside7 {
          display: block;
        }
        &__aside8 {
          display: block;
        }
        &__aside9 {
          display: block;
        }
      }
    }
}
